[role="dialog"][id="radix-:r3g:"] {
  all: unset !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  overflow: scroll !important;
  text-align: center !important;
  white-space: nowrap !important;
  z-index: 2147483645 !important;
  pointer-events: all !important;
}

[role="dialog"][id="radix-:r3g:"]::before {
  content: '' !important;
  display: inline-block !important;
  height: 100% !important;
  vertical-align: middle !important;
  margin-right: -0.25em !important; /* коррекция для inline-block */
}

[role="dialog"][id="radix-:r3g:"] img.w-full.h-full.object-contain.cursor-pointer {
  all: unset !important;
  display: inline-block !important;
  vertical-align: middle !important;
  width: auto !important;
  height: auto !important;
  max-width: none !important;
  max-height: none !important;
}

/* styles/nyx.css */
.nyx-download-btn {
  display: inline-block;
  background: #2d2d2d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  margin-left: 8px;
  font-size: 12px;
  cursor: pointer;
}
.nyx-download-btn:hover {
  background: #404040;
}
/*отключаем лишнее элементы'*/
div.px-3.py-2,div.border-b.px-4.py-3.flex.items-center.gap-3{
	display:none;
}

/* Анимация для боковой панели */
.server-page__sidebar {
  transition: margin-left 0.3s ease !important;
  z-index: 0 !important;
  user-select: none !important;
  /* Ширина панели теперь задаётся через переменную (с запасным значением) */
  width: var(--sidebar-width, 250px);
}

.nyx-sidebar-hidden {
  margin-left: calc(-1 * var(--sidebar-width)) !important;
}

div.overflow-y-auto.h-full.shrink-0 {
  z-index: 1 !important;
  user-select: none !important;
  pointer-events: none !important;
}
div.overflow-y-auto.h-full.shrink-0 a{
  pointer-events: all !important;
}
/* Правая панель участников */
.server-page__members {
  transition: margin-right 0.3s ease !important;
  z-index: 0 !important;
  user-select: none !important;
  width: var(--members-width, 250px);
}
.nyx-members-hidden {
	margin-right: calc(var(--handle-width) - var(--members-width)) !important;
}